.intro {
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 150px;
  & > * {
    width: 50%;
  }
  &-content {
    padding-right: 130px;
  }
  &-desc {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1279px) {
    padding-bottom: 90px;
  }
  @media screen and (max-width: 1023px) {
    &-content {
      padding-right: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 75px 0;
    display: block;
    & > * {
      width: 100%;
      padding: 0 20px;
    }
    span {
      display: unset;
    }
    &-content {
      margin-bottom: 50px;
    }
    &-desc {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-image {
      max-width: 75%;
      margin: 0 auto;
    }
  }
}
