.plan {
  padding-top: 50px;
  padding-bottom: 160px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 75px 25px;
    width: calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.2s linear;
  }

  &-item:hover {
    border-color: transparent;
    box-shadow: 0 0 50px 10px rgba($color: #000000, $alpha: 0.09);
  }

  &-item:hover &-start {
    border-color: $primary-color;
    background-color: $primary-color;
    color: white;
  }

  &-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: white;
    background-color: $pink-color;
    text-transform: capitalize;
    border-radius: 0 20px;
    font-size: 14px;
  }

  &-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &-price {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;

    &-symbol {
      vertical-align: top;
    }
    &-number {
      font-size: 40px;
      font-weight: 600;
    }
  }

  &-desc {
    margin-bottom: 55px;
  }

  &-feature {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  &-feature-item {
    display: flex;
    align-items: center;
    color: $gray-light;
    margin-bottom: 25px;
    font-weight: 300;
  }

  &-feature-item:last-of-type {
    margin-bottom: 75px;
  }

  &-feature-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  &-start {
    margin: auto auto 0;
    display: block;
    width: max-content;
  }
}
