* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #262e36;
  line-height: 1;
  background-color: white;
  color: #272e35;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 20px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  transition: all 0.2s linear;
}
.button--primary {
  color: white;
  background-color: #579aff;
}
.button--outline {
  border: 1px solid;
  color: #a5b2c3;
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;
}
.block-caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 10px;
}
.block-caption::before {
  left: 0;
  transform: translate(-100%, -50%);
}
.block-caption::after {
  right: 0;
  transform: translate(100%, -50%);
}
.block-caption::before, .block-caption::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}
.block-caption--left {
  margin-bottom: 20px;
  padding-left: 40px;
}
.block-caption--left::before {
  transform: none;
}
.block-caption--left::after {
  display: none;
}
.block-heading {
  line-height: 1.4;
  font-size: 40px;
  font-weight: 650;
}
.block-heading span {
  display: block;
}

.block--left {
  display: block;
  text-align: left;
}

.text-desc {
  font-weight: 300;
  line-height: 1.5;
  color: #868d93;
}

.bg--google {
  background-color: #ff7979;
}

.bg--twitter {
  background-color: #79afff;
}

.bg--instagram {
  background-color: #ffb979;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 10px 20px;
  }

  .logo-image {
    max-width: 90px;
  }

  .block {
    margin-bottom: 55px;
  }
  .block-caption {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .block-caption::before, .block-caption::after {
    width: 25px;
  }
  .block-caption--left {
    margin-bottom: 10px;
    padding-left: 30px;
  }
  .block-heading {
    font-size: 35px;
    font-weight: 620;
  }
}
.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
}
.header > .logo {
  margin-right: 120px;
}
.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-menu-item:not(:first-child) {
  margin-left: 75px;
}
.header-menu-link {
  color: #272e35;
  transition: color 0.2s ease-in-out;
}
.header-menu-link:hover {
  color: #579aff;
}
.header-auth {
  margin-left: auto;
}
@media screen and (max-width: 1279px) {
  .header > .logo {
    margin-right: 0px;
  }
  .header-menu {
    margin: 0 auto;
  }
  .header-auth {
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .header-menu {
    display: none;
  }
  .header-auth {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
}

.banner {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.banner-info {
  width: 35%;
}
.banner-image {
  width: 65%;
  transform: translateX(50px);
}
.banner-heading {
  font-size: 55px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.banner-heading span {
  display: block;
}
.banner-desc {
  margin-bottom: 50px;
}
.banner-links .button:first-child {
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 1279px) {
  .banner-heading {
    font-size: 45px;
    margin-bottom: 30px;
  }
  .banner-desc {
    margin-bottom: 25px;
  }
  .banner-links .button {
    padding: 15px 20px;
  }
  .banner-links .button:first-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    flex-direction: column;
  }
  .banner > * {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .banner-heading span {
    display: unset;
  }
  .banner-image {
    margin-top: 25px;
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    padding-top: 30px;
  }
  .banner-heading {
    font-size: 40px;
  }
  .banner > * {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.work {
  padding-top: 145px;
  padding-bottom: 50px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
}
.work-item {
  padding: 40px 30px;
  border: 1px solid #f4f4f4;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .work-item:hover {
    border-color: transparent;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
  }
  .work-item:hover .button--outline {
    border-color: #579aff;
    background-color: #579aff;
    color: white;
  }
}
.work-image {
  margin-bottom: 35px;
  max-height: 115px;
}
.work-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.work-desc {
  margin-bottom: 35px;
}
@media screen and (max-width: 1279px) {
  .work-list {
    grid-column-gap: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .work-list {
    padding-left: 20px;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 500px;
    grid-auto-flow: column;
    grid-gap: 0 50px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .work-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .work-list > * {
    scroll-snap-align: start;
  }
  .work-item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .work {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .work-list {
    grid-auto-columns: 80%;
  }
}

.intro {
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 150px;
}
.intro > * {
  width: 50%;
}
.intro-content {
  padding-right: 130px;
}
.intro-desc {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1279px) {
  .intro {
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 1023px) {
  .intro-content {
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding: 75px 0;
    display: block;
  }
  .intro > * {
    width: 100%;
    padding: 0 20px;
  }
  .intro span {
    display: unset;
  }
  .intro-content {
    margin-bottom: 50px;
  }
  .intro-desc {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .intro-image {
    max-width: 75%;
    margin: 0 auto;
  }
}

.plan {
  padding-top: 50px;
  padding-bottom: 160px;
}
.plan-list {
  display: flex;
  justify-content: space-between;
}
.plan-item {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 75px 25px;
  width: calc(33.33% - 30px);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .plan-item:hover {
    border-color: transparent;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
  }
  .plan-item:hover .plan-start {
    border-color: #579aff;
    background-color: #579aff;
    color: white;
  }
}
.plan-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  color: white;
  background-color: #ff858d;
  text-transform: capitalize;
  border-radius: 0 20px;
  font-size: 14px;
}
.plan-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.plan-price {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.plan-price-symbol {
  vertical-align: top;
}
.plan-price-number {
  font-size: 40px;
  font-weight: 600;
}
.plan-desc {
  margin-bottom: 55px;
}
.plan-feature {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 35px;
}
.plan-feature-item {
  display: flex;
  align-items: center;
  color: #a5b2c3;
  margin-bottom: 25px;
  font-weight: 300;
}
.plan-feature-item:last-of-type {
  margin-bottom: 75px;
}
.plan-feature-icon {
  font-size: 20px;
  margin-right: 10px;
}
.plan-start {
  margin: auto auto 0;
  display: block;
  width: max-content;
}
@media screen and (max-width: 1279px) {
  .plan {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1023px) {
  .plan-list {
    padding-left: 20px;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 450px;
    grid-auto-flow: column;
    grid-gap: 0 50px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .plan-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .plan-list > * {
    scroll-snap-align: start;
  }
  .plan-item {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .plan-list {
    grid-auto-columns: 80%;
  }
}

.client {
  padding-bottom: 150px;
}
.client-list {
  display: flex;
}
.client-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 45px 25px;
  border: 1px solid #eee;
  border-radius: 20px;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .client-item:hover {
    border-color: transparent;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
  }
}
.client-item:not(:first-child) {
  margin-left: 70px;
}
.client-image {
  width: 120px;
  height: 120px;
  border-radius: 100rem;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 25px;
}
.client-name {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.client-position {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.client-content {
  line-height: 1.8;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.client-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-rate i {
  margin: 0 5px;
  color: #ffcb46;
  font-size: 20px;
}
@media screen and (max-width: 1279px) {
  .client {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1023px) {
  .client-list {
    padding-left: 20px;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 450px;
    grid-auto-flow: column;
    grid-gap: 0 50px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .client-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .client-list > * {
    scroll-snap-align: start;
  }
  .client-item {
    width: 100%;
  }
  .client-item:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .client {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 479px) {
  .client-list {
    grid-auto-columns: 80%;
  }
}

.started {
  max-width: 900px;
  margin: 100px auto 160px;
  border-radius: 30px;
  background-color: #fbfbfb;
  padding: 60px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.started *:not(img) {
  position: relative;
  z-index: 100;
}
.started-block {
  margin-bottom: 30px;
}
.started-desc {
  margin-bottom: 50px;
  max-width: 245px;
  color: #272e35;
}
.started-comment {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.started-smile {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 1023px) {
  .started-comment {
    max-width: 25%;
    bottom: 10px;
    left: 10px;
  }
  .started-smile {
    max-width: 25%;
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .started-comment {
    max-width: 20%;
    bottom: 0px;
    left: 0px;
  }
  .started-smile {
    max-width: 20%;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  .started-comment {
    max-width: 15%;
  }
  .started-smile {
    max-width: 15%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 2.4fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  padding-bottom: 80px;
}
.footer-desc {
  color: #272e35;
  margin: 30px 0;
  max-width: 250px;
}
.footer-social {
  display: inline-flex;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-social-link:not(:first-child) {
  margin-left: 15px;
}
.footer-heading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
}
.footer-link-item {
  margin-bottom: 30px;
  font-size: 16px;
}
.footer-link {
  color: #272e35;
  display: block;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .footer-column {
    text-align: center;
  }
  .footer-desc {
    max-width: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
